[Install]
WantedBy=multi-user.target

[Unit]
Description=Gravwell Pinger Service
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/pinger/pinger -config-file /opt/pinger/pinger.conf -config-overlays /opt/pinger/pinger.conf.d
WorkingDirectory=/opt/pinger
Restart=always
User=nobody
Group=nogroup
StandardOutput=null
StandardError=journal
TimeoutStopSec=5
KillMode=process
KillSignal=SIGINT
